/Projekte/Test/nbproject/private/
/Projekte/OOP/nbproject/private/
/Projekte/OOP/build/
/Projekte/ErrorHandling/nbproject/private/
/Projekte/ErrorHandling/build/
/Projekte/Functional/nbproject/private/
/Projekte/Functional/build/
/Projekte/Collections/nbproject/private/
/Projekte/Collections/build/